<ion-view view-title="Adicionar Vereadores">
    <ion-content>
      <div class="content padding">
        <p>Toque para seguir<p>
      </div>

      <ion-checkbox ng-model="vereador.follow" class="item-checkbox-right item-avatar" ng-change="vm.updateFollow(vereador)" ng-repeat="vereador in vm.listaTodosVereadores track by $index">
        <img ng-src="{{vereador.url_foto}}">
        <h2>{{vereador.nome_parlamentar}}</h2>
        <p>sem conteúdo aqui</p>

        <span ng-show="vereador.follow_loading">
            <span class="step size-48">
              <i class="icon ion-loop"></i> carregando
            </span>
        </span>
        <span style="color: #F00" ng-show="vereador.follow && !vereador.follow_loading">Seguindo</span>
      </ion-checkbox>
    </ion-content>
  </ion-view>


  