<ion-view view-title="Bairros">
    <ion-content>
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in vm.listaItens" type="item-text-wrap" href="#/tab/bairros/{{item.id}}">
          <h2>{{item.name}}</h2>
          <p>{{item.lastText}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
  
          <ion-option-button class="button-assertive" ng-click="remove(item)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
      <div class="row">
        <div class="col col-75"></div>
        <div class="col">
          <a href="#/tab/bairros-add" class="button button-rouded">
            <i class="icon ion-plus"></i>
          </a>
        </div>
      </div>
    </ion-content>
  </ion-view>
  