<ion-view view-title="Vereadores que Acompanho">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="vereador in vm.listaVereadores" type="item-text-wrap" href="#/tab/vereadores/{{vereador.id}}">
        <img ng-src="{{vereador.url_foto}}">
        <h2>{{vereador.nome_parlamentar}}</h2>
        <p>{{vereador.biografia}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(vereador)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
    <div class="row">
      <div class="col col-75"></div>
      <div class="col">
        <a href="#/tab/vereadores-add" class="button button-rouded">
          <i class="icon ion-plus"></i>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
