<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Bairros" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- VereadorCtrl Tab -->
  <ion-tab title="Vereadores" icon-off="ion-person" icon-on="ion-person" href="#/tab/vereadores">
    <ion-nav-view name="tab-vereadores"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Assuntos" icon-off="ion-document-text" icon-on="ion-document-text" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
