<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{vereador.nome_parlamentar}}">
  <ion-content class="padding">
    <img ng-src="{{vereador.url_foto}}"  class="vereador" style="width: 64px; height: 64px">
    <h3 class="name-vereador">{{vereador.nome_parlamentar}}</h3>
    <p>
      {{vereador.biografia}}}
    </p>
  </ion-content>
</ion-view>
